workflows/CrazyFriend_Welcome.json
{
  "name": "CrazyFriend Welcome",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "75c7d482-fce8-42fc-89cc-c0a76c620d7c/group-participants-update",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "49174ee5-6cb3-4363-8f66-a5bfd911d2b1",
      "name": "Webhook",
      "webhookId": "75c7d482-fce8-42fc-89cc-c0a76c620d7c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06dfba0b-705b-4663-94f2-a1fff3c4de88",
              "name": "baseUrl",
              "value": "https://evolution-api-production-44e7.up.railway.app",
              "type": "string"
            },
            {
              "id": "b9f9843a-734d-4349-8abc-ab5f44752997",
              "name": "instance",
              "value": "Personal",
              "type": "string"
            },
            {
              "id": "28f7e185-32f1-4071-b0b1-9cb317366e76",
              "name": "remoteJid",
              "value": "34667370571-1606306593@g.us",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d084a0f0-6900-4687-90b6-093ae0c61bc9",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "050e8c52-1ed2-4d46-aeaa-27a03c7001b5",
              "leftValue": "={{ $('Webhook').item.json.body.data.id }}",
              "rightValue": "={{ $json.remoteJid }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "90afeed1-15b4-432f-a1a7-871cfb0277e7",
      "name": "If CrazyFriend"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.data.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "add"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78213c14-75cc-4b03-bb48-b7cd4ab4fc2c",
                    "leftValue": "={{ $('Webhook').item.json.body.data.action }}",
                    "rightValue": "remove",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remove"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        700,
        -100
      ],
      "id": "5c452081-cbdb-4011-9a8b-89792704dfe4",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        20
      ],
      "id": "e304d91f-767b-41e3-8e6b-215f529563f5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "={{ $('Variables').item.json.baseUrl }}/group/participants/{{ $('Variables').item.json.instance }}?groupJid={{ $('Variables').item.json.remoteJid }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpbinApi",
        "options": {}
      },
      "id": "ac040f50-073c-49fc-9c19-5731596cf5b7",
      "name": "findParticipants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -140
      ],
      "credentials": {
        "httpbinApi": {
          "id": "3L31sOzwMbTmbi6C",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "participants",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1160,
        -140
      ],
      "id": "45f67c68-ba9e-454d-b343-dd64d95abfba",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c7faffa2-9a98-4c16-8e31-4253aa69cbd8",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('Webhook').item.json.body.data.participants[0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1340,
        -140
      ],
      "id": "d2ef51f5-6bd9-426b-876f-ab279ec60c8d",
      "name": "Filter"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Genera un mensaje breve, amigable y divertido para el grupo de WhatsApp 'CrazyFriends'. Soy Phil, y quiero dar la bienvenida a [{{ $json.name }}. El mensaje debe incluir que soy ingeniero de software especializado en programación web, vivo en Granollers, Barcelona, estoy casado con Elisenda, tengo un hijo llamado Ian, y nací en Tenerife en 1977. Mantén el tono casual y cercano, mostrando mi entusiasmo por conocer más sobre {{ $json.name }}. No saludes al grupo.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1560,
        -140
      ],
      "id": "8c46b699-577a-49a3-a771-3f1021efeac8",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XY5vX0AC5Cy6zbpt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Variables').first().json.baseUrl }}/message/sendText/{{ $('Variables').first().json.instance }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpbinApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('Variables').item.json.remoteJid }}\",\n    \"text\": {{ JSON.stringify($('OpenAI').last().json.message.content) }}\n}",
        "options": {}
      },
      "id": "c2ca3fda-5afe-4eac-b67e-ab68790327a0",
      "name": "sendText",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -140
      ],
      "credentials": {
        "httpbinApi": {
          "id": "3L31sOzwMbTmbi6C",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "If CrazyFriend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CrazyFriend": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "findParticipants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "findParticipants": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "sendText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c15d8736-cd1f-444f-83bf-3a138eea5f8d",
  "meta": {
    "instanceId": "278808b6c9be345acd390f1e1b9fd98d63c63c7f61b53fdf8b704a1525cd802f"
  },
  "id": "SXZghlTiDFRkHOFD",
  "tags": [
    {
      "createdAt": "2024-11-21T17:37:36.809Z",
      "updatedAt": "2024-11-21T17:37:36.809Z",
      "id": "0ZTTiXffMj61f0Kf",
      "name": "CrazyFriends"
    }
  ]
}